/* Burgermenu Neu - Overlay - Last Edit 3.8.17 */

.button_container {
  position: fixed;
 top: 75px;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
 z-index: 1000001;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
	display: none;
	transition: 250ms ease top;
}

.burger-zu {
	top: 25px!important;
}


@media screen and (max-width: 768px) {

	.button_container {
		display: block;
	}

}

@media screen and (min-width: 769px) {

	.overlay {
		display: none;
	}

}

.button_container:hover {
  opacity: .7;
}
.button_container.active-burger .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active-burger .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active-burger .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #999;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;

}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
    z-index: 1000;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
	font-family: 'Lato', 'sans-serif';
	font-size: 35px;
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 6px;
	line-height: 68px;


}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/* Altes Burgermenu */

/*
.burgermenu-wrapper span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #fff;
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -o-transform: translateY(14px);
  -ms-transform: translateY(14px);
  transform: translateY(14px);
  -webkit-transition: -webkit-transform 0.5s ease, border-color 0.5s ease 0.3s;
  -moz-transition: -moz-transform 0.5s ease, border-color 0.5s ease 0.3s;
  -o-transition: -o-transform 0.5s ease, border-color 0.5s ease 0.3s;
  -ms-transition: -ms-transform 0.5s ease, border-color 0.5s ease 0.3s;
  transition: transform 0.5s ease, border-color 0.5s ease 0.3s;
}
.burgermenu-wrapper span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  -o-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
  -webkit-animation-name: topLineBurger;
  -moz-animation-name: topLineBurger;
  -o-animation-name: topLineBurger;
  -ms-animation-name: topLineBurger;
  animation-name: topLineBurger;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.burgermenu-wrapper span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -o-transform: translateY(14px);
  -ms-transform: translateY(14px);
  transform: translateY(14px);
  -webkit-animation-name: bottomLineBurger;
  -moz-animation-name: bottomLineBurger;
  -o-animation-name: bottomLineBurger;
  -ms-animation-name: bottomLineBurger;
  animation-name: bottomLineBurger;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.burgermenu-wrapper.opened span {
  border-color: transparent;
  -webkit-transition: border-color 0.3s ease;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -ms-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.burgermenu-wrapper.opened span:before {
  -webkit-animation-name: topLineCross;
  -moz-animation-name: topLineCross;
  -o-animation-name: topLineCross;
  -ms-animation-name: topLineCross;
  animation-name: topLineCross;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.burgermenu-wrapper.opened span:after {
  -webkit-animation-name: bottomLineCross;
  -moz-animation-name: bottomLineCross;
  -o-animation-name: bottomLineCross;
  -ms-animation-name: bottomLineCross;
  animation-name: bottomLineCross;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
}
@-webkit-keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
}
@-o-keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes topLineCross {
  0% {
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
}
@-moz-keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -o-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
}
@-webkit-keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -o-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
}
@-o-keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -o-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
}
@keyframes bottomLineCross {
  0% {
    -webkit-transform: translateY(14px);
    -moz-transform: translateY(14px);
    -o-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
  50% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
}
@-moz-keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-16px) rotate(0deg);
    -moz-transform: translateY(-16px) rotate(0deg);
    -o-transform: translateY(-16px) rotate(0deg);
    -ms-transform: translateY(-16px) rotate(0deg);
    transform: translateY(-16px) rotate(0deg);
  }
}
@-webkit-keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-16px) rotate(0deg);
    -moz-transform: translateY(-16px) rotate(0deg);
    -o-transform: translateY(-16px) rotate(0deg);
    -ms-transform: translateY(-16px) rotate(0deg);
    transform: translateY(-16px) rotate(0deg);
  }
}
@-o-keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-16px) rotate(0deg);
    -moz-transform: translateY(-16px) rotate(0deg);
    -o-transform: translateY(-16px) rotate(0deg);
    -ms-transform: translateY(-16px) rotate(0deg);
    transform: translateY(-16px) rotate(0deg);
  }
}
@keyframes topLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-16px) rotate(0deg);
    -moz-transform: translateY(-16px) rotate(0deg);
    -o-transform: translateY(-16px) rotate(0deg);
    -ms-transform: translateY(-16px) rotate(0deg);
    transform: translateY(-16px) rotate(0deg);
  }
}
@-moz-keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(14px) rotate(0deg);
    -moz-transform: translateY(14px) rotate(0deg);
    -o-transform: translateY(14px) rotate(0deg);
    -ms-transform: translateY(14px) rotate(0deg);
    transform: translateY(14px) rotate(0deg);
  }
}
@-webkit-keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(14px) rotate(0deg);
    -moz-transform: translateY(14px) rotate(0deg);
    -o-transform: translateY(14px) rotate(0deg);
    -ms-transform: translateY(14px) rotate(0deg);
    transform: translateY(14px) rotate(0deg);
  }
}
@-o-keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(14px) rotate(0deg);
    -moz-transform: translateY(14px) rotate(0deg);
    -o-transform: translateY(14px) rotate(0deg);
    -ms-transform: translateY(14px) rotate(0deg);
    transform: translateY(14px) rotate(0deg);
  }
}
@keyframes bottomLineBurger {
  0% {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(14px) rotate(0deg);
    -moz-transform: translateY(14px) rotate(0deg);
    -o-transform: translateY(14px) rotate(0deg);
    -ms-transform: translateY(14px) rotate(0deg);
    transform: translateY(14px) rotate(0deg);
  }
}
*/
