/*--------------------------------
News Section - Aktuelles
--------------------------------*/


/* Base Style */

.cards img {
	width: 1300px;
	height: auto;
}

img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.card-content h2 {
	margin: 0;
}

.card:nth-child(odd) .card-content {
	margin-left: 40px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 45%;
	flex: 0 1 45%;
}

.card:nth-child(even) .card-content {
	margin-right: 40px;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 45%;
	flex: 0 1 45%;
}

h1.title {
	max-width: 1400px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 60px;
}


/* Flexbox */

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 80px;
}

.card:nth-child(odd) {
	-webkit-box-pack: row;
	-ms-flex-pack: row;
	justify-content: row;
}

.card:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}


/* Responsiv */

@media screen and (max-width: 898px) {
	.cards {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
	}
	.card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 80px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.card:nth-child(odd) .card-content {
		margin-left: 0;
		margin-top: 30px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.card:nth-child(even) .card-content {
		margin-right: 0;
		margin-top: 30px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	/* Bugfix */
	.card:nth-child(even) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.centered {
		background-color: white;
	}
	.btn {
		width: 100px;
	}
}
