/*--------------------------------------
Base-Styles - Last Edit 14.08.2017
--------------------------------------*/

body {
	display: block;
	margin: 0;
}


/* fade animation */

fade {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.moveleft, .moveright, .moveup, .fadescroll, .movedown {
	-webkit-transition: all 400ms;
	transition: all 400ms;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.left {
	-webkit-transform: translate(200px, 0);
	        transform: translate(200px, 0);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.right {
	-webkit-transform: translate(-200px, 0);
	        transform: translate(-200px, 0);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.up {
	-webkit-transform: translate(0, 200px);
	        transform: translate(0, 200px);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.down {
	-webkit-transform: translate(0, -200px);
	        transform: translate(0, -200px);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/* fade animation END */

.visibility {
	display: none;
}

.centered {
	margin: 0 auto;
	padding;
	0 1em;
	margin-right: 20px;
	margin-left: 20px;
}

figure {
	margin: 0;
}

img {
	display: block;
	border: 0;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 480px) {

}
