/*--------------------------------------------
Navigation mit fixed Header - Last Edit 4.07.2017
---------------------------------------------*/


/* Base styles für Navigation */

.head-transition {
	top: 0;
	position: fixed;
	z-index: 102;
		transition: 250ms ease top;
}

.menu-section {
	width: 100%;
	display: flex;
	position: fixed!important;
	z-index: 99999999;
	background-color: #fff;
	box-shadow: 1px;
	 -webkit-box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.49);
 -moz-box-shadow:    0px 1px 5px rgba(100, 100, 100, 0.49);
 box-shadow:         0px 1px 5px rgba(100, 100, 100, 0.49);
	height: 100px;
}

.menu ul {
	top: -25px;
	position: relative;
	left: 450px;
	padding: 0;
	margin: 0;
	background: #fff;
	width: auto;
	list-style-type: disc;
	white-space: nowrap;
}

.menu li {
	padding: 0 45px;
	display: inline-block;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

.menu li:hover {
	border-color: hsl(0, 0%, 25%);
	z-index: 2;
	cursor: pointer;
	color: hsl(0, 0%, 25%);
}

.menu li:first-child {
	border-left: 1px solid hsl(0, 0%, 25%);
}

.menu li:first-child:hover {
	border-right: 1px solid hsl(0, 0%, 25%);
	border-left: 1px solid hsl(0, 0%, 25%);
	z-index: 10;
}

.menu li:hover a {
	color: hsl(0, 0%, 25%);
}

.menu li:first-child {
	border-left: 1px solid #999;
}

.menu li:nth-child(1) {
	left: -5px;
	position: relative;
}

.menu li:nth-child(2) {
	left: -10px;
	position: relative;
}

.menu li:nth-child(3) {
	left: -15px;
	position: relative;
}

.menu li a {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	position: relative;
	letter-spacing: 3px;
	text-decoration: none;
	color: hsl(0, 0%, 45%);
	text-transform: uppercase;
	white-space: nowrap;
	transition: color .3s ease;
}


/* Global Navigation */

.pagehead {
	height: 50px;
	width: 100vw;
	background-color: #1F2833;
	display: flex;
	justify-content: flex-end;
	transition: 250ms ease top;

}

.global-nav {
	display: flex;
	margin-right: 15px;
}

.global-nav li {
	padding: 0 20px;
	color: #fff;
}

.global-nav li:first-child {
	border-right: 1px solid #fff;
}

.global-nav li a {
	color: #fff;
	font-family: 'Raleway', 'sans-serif';
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
}


/* animiertes logo */

div#preloader-container {
	display: block;
	position: relative;
	margin: 0;
}

.logo-text h6 {
	top: 15px;
	padding: 0;
	margin: 0;
	left: 200px;
	position: absolute;
	font-family: 'Raleway', 'sans-serif';
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 4px;
	font-weight: 600;
	transform: scaleY(0.9);
}

.logo-text span {}

#nine {
	width: 60px;
	height: 60px;
	position: relative;
	left: 110px;
	top: 14px;
	display: block;
}

.squares {
	fill: #362476;
	display: block;
}

/* Hide pagehead */

.header-zu {
	top: -50px!important;
}


/* Tablet */

@media screen and (max-width: 1024px) {

	.menu li:nth-child(1) {
	left: -5px;
	position: relative;
}

	.menu-section {
		background-color: #fff;
		height: 78px;
	}
	.menu li a {
		font-family: 'Raleway', 'sans-serif';
		font-size: 12px;
		position: relative;
		letter-spacing: 3px;
		text-decoration: none;
		color: hsl(0, 0%, 45%);
		text-transform: uppercase;
		white-space: nowrap;
		transition: color .3s ease;
	}
	.menu li {
		padding: 0 25px;
		display: inline-block;
		border-right: 1px solid #999;
		border-left: 1px solid #999;
	}
	.logo-text h6 {
		top: 5px;
		padding: 0;
		margin: 0;
		left: 110px;
		position: absolute;
		font-family: 'Raleway', 'sans-serif';
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 4px;
		font-weight: 600;
		transform: scaleY(0.9);
		margin: 10px 0;
	}
	#nine {
		width: 40px;
		height: 40px;
		position: relative;
		left: 50px;
		top: 10px;
		display: block;
		margin: 10px 0;
	}
	.menu ul {
		top: -30px;
		position: relative;
		left: 300px;
		padding: 0;
		margin: 10px 0;
		background: #fff;
		width: auto;
		list-style-type: disc;
		white-space: nowrap;
	}
}

/* Mobile */

@media screen and (max-width: 768px) {
	.menu li {
		display: none;
	}
	.menu-section {
		position: relative!important;
		height: 85px;
		width: auto;
	}
	#nine {
		left: 30px;
	}
	.logo-text h6 {
		left: 90px;
	}
}
