/* Neue Tabelle - Last Edit: 21.7.2017 */

.new-table-flex {
	position: relative;
	width: 100%;
	height: auto;
	background-color: hsl(0, 0%, 90%);
	margin: auto 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 60px;
	font-family:  'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: -100px;
	left:-20px ;
}

.flex {
	display: flex;
	margin-left: 90px;
	margin-right: 90px;
}

.flex > .flex-auto {
	flex: auto;
}

.flex > .flex-1 {
	flex: 1;
}

.table-body {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #666B85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table-body:nth-child(1n+1) {
	cursor: pointer;
}

@media screen and (min-width: 769px) {
	.table-body:nth-child(odd):hover .flex-1 {
		background: hsl(0, 0%, 25%)!important;
	}
	.new-table-flex h1 {
		margin-left: 90px;
	}
	.table-body:hover .flex-1 {
		background: hsl(0, 0%, 25%);
		color: #fff;
	}
	.table-body:nth-child(odd) .flex-1 {
		background: #ebebeb!important;
	}
}

[class^="flex-"] {
	background: #fdfdfd;
	border: 1px solid #eee;
	border-collapse: collapse;
	padding: 15px;
	transition: margin .2s ease, background .5s ease;
	overflow: hidden;
}

.table-header > [class^="flex-"] {
	font-weight: bold;
	color: #D5DDE5;
	background: #1b1e24;
}

.curr:before {
	content: "CHF ";
}

.table-body {
	background: #fff;
}

.table-body:nth-child(odd) {
	background: #fff;
}

.table-body:nth-child(odd) > [class^="flex-"] {
	background: #fff;
}

@media screen and (max-width: 768px) {
	.table-header {
		display: none;
	}
	.table-body {
		position: relative;
		border: 1px solid #eee;
		margin-bottom: .5em;
		flex-direction: column;
		margin-right: 20px;
		margin-left: 20px;
	}
	.table-body > [class^="flex-1"] {
		margin-left: 140px;
	}
	/* Data-Head wird mit "content" vor flex-1 platziert */
	.table-body > [class^="flex-1"]:before {
		position: absolute;
		left: 0;
		max-width: 140px;
		content: attr(data-head) ": ";
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: bold;
		padding-left: 10px;
	}
	.table-body:nth-child(even) {
		background: #fdfdfd;
	}
	.table-body:nth-child(even) > [class^="flex-"] {
		background: #fdfdfd;
	}

	.new-table-flex h1 {
	margin-left: 20px;
}
}


/*-------------------------------------------------
Tabelle - alt
-------------------------------------------------

.side2 {
	height: auto;
	width: 100%;
	background-color: hsl(0, 0%, 90%);
	margin: auto 0;
	padding-bottom: 60px;
}

.flex-table {
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 30px;
}


/* Table Styles */


/**********************************************************************************

.table-fill {
	border-radius: 3px;
	border-collapse: collapse;
	height: 320px;
	max-width: 1400px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
	color: #D5DDE5;
	background: #1b1e24;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 23px;
	font-weight: 100;
	padding: 24px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}

th:first-child {
	border-top-left-radius: 3px;
}

th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

tr {
	border-top: 1px solid #C1C3D1;
	color: #666B85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:nth-child(1n+1) {
	cursor: pointer;
}

tr:hover td {
	background: hsl(0, 0%, 25%);
	color: #fff;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

tr:nth-child(odd) td {
	background: #ebebeb;
}

tr:nth-child(odd):hover td {
	background: hsl(0, 0%, 25%);
}

td {
	background: #fff;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

th.text-left {
	text-align: left;
}

td.text-left {
	text-align: left;
}

****************************************************************************/
