/*-------------------------------------------------------
Fluides Grid (Kacheln) - Arbeiten
--------------------------------------------------------*/

.flex-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin-right: 20px;
	margin-bottom: 18px;
	margin-left: 5px;
	transition: ease 10s;
}
/* Filterfunktion mithilfe von Jquery || Last Update 23.04.2017 */

.filter {
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 37px;
	margin-top: 200px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: auto;
}

.filter a {
	color: hsl(0, 0%, 20%);
	font-family: 'Roboto Slab', serif;
	font-size: 19px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.filter li:nth-child(1n+2) {
	padding-left: 30px;
}

.filter a:hover,
.filter a:focus,
.filter a:active {
	color: hsl(0, 0%, 70%);
}

.removed {
	display: none;
}

/* Offline Suchfeld */

.filter input[type=text] {
	background-color: transparent;
	color: hsl(0, 0%, 30%);
	font-family: 'Roboto Slab', serif;
	font-size: 19px;
	padding: 5px;
	margin: 0;
	background-color: hsl(0, 0%, 95%);
	border-radius: 10px;
}

.filter i {
	color: hsl(0, 0%, 50%);
	padding-left: 10px;
}


/* Kacheln */


.kachel {
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 450px;
	flex: 1 1 450px;
	padding-left: 22px;
	padding-top: 22px;
	position: relative;
	overflow: hidden;
	cursor: pointer;


}

.kachel h2 {
	color: #fff;
}

@media screen and (min-width: 940px) {
	.kachel:hover .kachel-content {
		visibility: visible;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}

.kachel-content {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	padding: 20px;
	width: 100%;
	color: #fff;
	background-color: hsl(0, 0%, 25%);
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.kachel-content h2 {
	margin: 0;
}

.kachel-content i {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 0.5px;
}


/* Tablet & Handy */

@media screen and (max-width: 940px) {
	.kachel .kachel-content {
		visibility: visible;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
}

@media screen and (max-width: 30em) {
	.kachel-content {
		padding-bottom: 10px;
		padding-top: 5px;
		height: auto;
		opacity: 0.8!important;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	}
	.flex-container h2 {
		font-size: 140%;
		line-height: 30px;
		letter-spacing: -0.8px;
	}
	.flex-container i {
		font-size: 80%;
		letter-spacing: -0.8px;
	}
	.search {
		width: 300px;
		padding-top: 20px;
		padding-left: 0!important;
	}
}

/******************** Lightbox ***********************/

#lightbox-overlay {
	position: absolute;
	z-index: 10000;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	display: none;
}

#lightbox-overlay #lightbox-content {
	width: 80%;
	position: absolute;
	top: 5%;
	left: 10%;
	right: 10%;
}

#lightbox-overlay #lightbox-content img{
	width: 100%;
	height: auto;
}

#lightbox-overlay #lightbox-content #lightbox-nav{

	margin: 0 0 20px 0;
	width: 100%;
	text-align: left;
}

#lightbox-overlay #lightbox-content #lightbox-nav .fa{
	color: #fff;
	font-size: 30px;

}

#lightbox-overlay #lightbox-content #lightbox-nav .fa {cursor: pointer;}
